*, html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --il-black: #3E4857;
  --il-red: #D63864;
}

.title {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.title-white {
  color: #FFF;
}

.title-black {
  color: var(--il-black);
}

.text {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  line-height: 31px;
  font-size: 20px;
}

.text-black {
  color: var(--il-black);
}

.hero {
  background: url(../img/hero/hero-bg.png) no-repeat 69.7% bottom, -webkit-gradient(linear, left top, right top, from(#040013), color-stop(54.31%, #42063F), color-stop(99.9%, #3A047D));
  background: url(../img/hero/hero-bg.png) no-repeat 69.7% bottom, linear-gradient(90deg, #040013 0%, #42063F 54.31%, #3A047D 99.9%);
  color: #FFF;
}

.hero-content__title {
  font-size: 53px;
}

.hero-content__text {
  font-size: 17px;
  line-height: 26px;
}

.hero-content__link {
  background-color: #67AC5B;
  border-radius: 4px;
  color: #FFF;
  font-family: 'Roboto', sanf-serif;
  text-transform: uppercase;
  padding: 16px 32px 16px 33px;
  -webkit-transition: .5s;
  transition: .5s;
}

.hero-content__link:hover {
  background-color: #3f8533;
}

.benefit {
  color: var(--il-black);
}

.benefit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.benefit-card__text {
  font-size: 17px;
  line-height: 26px;
  margin-top: 21px;
}

.explanation {
  background-color: #E5E5E5;
}

.explanation-card__title {
  line-height: 39px;
}

.make-content__title {
  line-height: 39px;
}

.questions-item {
  position: relative;
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.questions-item__name, .questions-item__answer {
  font-family: Arial, sans-serif;
  color: var(--il-black);
}

.questions-item__name {
  height: 100%;
  font-size: 20px;
  line-height: 31px;
  position: relative;
  padding: 0 40px 10px 0;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.questions-item__name::before {
  content: url(../img/svg/arrow.svg);
  position: absolute;
  right: 15px;
  bottom: 17px;
  width: 24px;
  height: 24px;
  -webkit-transition: .4s;
  transition: .4s;
}

.questions-item__name::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #C9C9C9;
}

.questions-item__answer {
  font-size: 18px;
  line-height: 28px;
  padding-right: 60px;
  display: none;
}

.questions-item.active .questions-item__name {
  color: var(--il-red);
}

.questions-item.active .questions-item__name::before {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.questions-item.active .questions-item__answer {
  display: block;
}

@media (max-width: 767px) {
  .text {
    font-size: 16px;
  }
  .title {
    font-size: 23px;
  }
  .hero {
    background-size: 100%;
  }
  .hero-content__title {
    font-size: 30px;
  }
  .benefit-card__text {
    font-size: 13px;
  }
  .explanation-card__text {
    text-align: justify;
  }
  .questions-item__name {
    font-size: 17px;
  }
  .questions-item__name::before {
    top: 0;
    right: 0;
  }
  .questions-item__answer {
    font-size: 15px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .make-content__img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero {
    background-position: 160% 130%;
  }
}

@media (min-width: 1599px) {
  .explanation-card__img {
    position: relative;
    left: 44px;
    top: -2px;
  }
}

@media (min-width: 1400px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 1127px;
  }
}

@media (min-width: 1900px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1127px;
  }
}

body {
  font-family: Helvetica, sans-serif;
}
