.benefit
  color: var(--il-black)
  &-card
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    &__text
      font-size: 17px
      line-height: 26px
      margin-top: 21px
