.hero
  background: url(../img/hero/hero-bg.png) no-repeat 69.7% bottom, linear-gradient(90deg, #040013 0%, #42063F 54.31%, #3A047D 99.9%)
  color: #FFF
  &-content
    &__title
      font-size: 53px
    &__text
      font-size: 17px
      line-height: 26px
    &__link
      background-color: #67AC5B
      border-radius: 4px
      color: #FFF
      font-family: 'Roboto', sanf-serif
      text-transform: uppercase
      padding: 16px 32px 16px 33px
      transition: .5s
      &:hover
        background-color: #3f8533
