@media (max-width: 767px)
  .text
    font-size: 16px
  .title
    font-size: 23px
  .hero
    background-size: 100%
    &-content
      &__title
        font-size: 30px
  .benefit
    &-card
      &__text
        font-size: 13px
  .explanation
    &-card
      &__text
        text-align: justify
  .questions
    &-item
      &__name
        font-size: 17px
        &::before
          top: 0
          right: 0
      &__answer
        font-size: 15px
        padding: 0
