.questions
  &-item
    position: relative
    transition: 1.4s
    &__name,
    &__answer
      font-family: Arial, sans-serif
      color: var(--il-black)
    &__name
      height: 100%
      font-size: 20px
      line-height: 31px
      position: relative
      padding: 0 40px 10px 0
      transition: .4s
      cursor: pointer
      &::before
        content: url(../img/svg/arrow.svg)
        position: absolute
        right: 15px
        bottom: 17px
        width: 24px
        height: 24px
        transition: .4s
      &::after
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 1px
        background-color: #C9C9C9
    &__answer
      font-size: 18px
      line-height: 28px
      padding-right: 60px
      display: none
    &.active
      .questions
        &-item
          &__name
            color: var(--il-red)
            &::before
              transform: scale(1, -1)
          &__answer
            display: block
