*, html, body
  box-sizing: border-box

html, body, div, span, p, h1, h2, h3, h4, h5, h6, ul, li
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  list-style-type: none

a
  text-decoration: none
  &:hover
    color: #fff

button
  cursor: pointer
  background: none
  border: none

img
  display: block
  max-width: 100%
