@import reset
@import fonts
@import colors
@import titles
@import text
@import hero
@import benefit
@import explanation
@import make
@import find
@import questions

@import media767
@import media768
@import media992
@import media1600

@media (min-width: 1400px)
  .container-xxl,
  .container-xl,
  .container-lg,colors.csscolors.css
  .container-md,
  .container-sm,
  .container
    max-width: 1127px

@media (min-width: 1900px)
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container
    max-width: 1127px

body
  font-family: Helvetica, sans-serif
